body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background-color: #ffffff;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.3);
  border-radius: 16px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 20px 0;
}

.search-form-input {
  background-color: #f9f9f9;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 30px;
  font-size: 13px;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: rgba(39, 33, 66, 0.6);
}

.search-form-button {
  background-color: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 500;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: #272142;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}

.weather-app-container {
  display: flex;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
  margin-left: 10px;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: 500;
  color: #272142;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
  color: #272142;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: #885df1;
}
